.home-page {
  margin-top: 90px;
}

.home-page .search {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: clamp(16px, 3vw, 120px);
    height: 38px;
    padding-left: 240px;
    padding-right: 240px;
    box-sizing: border-box;
}

.home-page .search-bar {
  flex: 1;
  width: auto;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border-radius: 5px;
}

.home-page .search-button {
    flex:1;
    height: 38px;
    max-width: 120px;
    padding: 0 20px;
    border-radius: 5px;
    width: auto;
}

.home-page .flight-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 240px;
  padding-right: 240px;

  border-right: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);

  display: flex;
  flex-direction: row;
}